################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC-dot-net/.vs/MVC-dot-net/FileContentIndex/1d0075fb-0d72-4e49-b7e4-17ea33b98ee2.vsidx
